body {
    text-align: center;
}

.bg {
    background-image: url(../images/cold-fall-falls-2929245.jpg);
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    width: 100%;
    opacity: 0.5;
    z-index: -1;
}

.welcome-text {
    z-index: 1;
    position: relative;
    margin-top: 50px;
}
