{% extends 'base.html' %}
{% block content %}


<div class="container-fluid">
    <!–– Welcome Landing text -->
        <div class="row justify-content-center">

            <div class="jumbotron">
                <h1 class="display-4">Welcome</h1>
                <p class="lead">This is a simple web application, designed by anglers, for anglers. If you are new to the area of County Kerry, or live in the Kingdom, this is place to come to find out information about the local fishing rivers in Kerry.</p>
                <hr class="my-4">
                <p>Visitors to this web application can create, read, update and delete (CRUD) river records. Feel free to leave feedback on a particular, so that other anglers and the relevant authorities (IFI, angling clubs, etc) can be best informed of the latest information.</p>
                <a class="btn btn-primary btn-lg" href="#" role="button">Get started</a>
            </div>
        </div>
</div>

{% endblock %}