{% extends 'base.html' %}
{% block content %}


<div class="container-fluid">
    <!–– Welcome Landing text -->
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <div class="jumbotron">
                    <h1 class="display-4">Welcome</h1>
                    <p class="lead">This is a simple web application, designed by anglers, for anglers. If you are new
                        to the area of County Kerry, or live in the Kingdom, this is the place to come to find the latest
                        information about the local fishing rivers in Kerry.</p>
                    <hr class="my-4">
                    <p>Visitors to this web application can create, read, update and delete (CRUD) river records. Feel
                        free to leave feedback on a particular river, so that other anglers and the relevant authorities (IFI,
                        angling clubs, etc) can be best informed of the latest information.</p>
                    <a class="btn btn-success btn-lg mybutton" href="{{url_for('get_river_names')}}" role="button">Get Started</a>
                </div>
            </div>
        </div>
</div>

{% endblock %}