{% extends 'base.html' %}
{% block content %}


<div class="container-fluid">
    <!–– Welcome Landing text -->
        <div class="row justify-content-center">
            <div class="col-10 text-dark welcome-text">
                <h1><strong>Want to add a new river to our database ?</strong></h1>
                <p><strong>Add a new River's details here.</strong></p>
            </div>
        </div>
        <!–– Dropdown for River to select for edit -->
            <div class="row justify-content-center">
                <div class="col-12 col-md-5">
                    <!–– Form fields goes here -->
                        <form action="" method="POST" class="margintop25 form_font">
                            <div class="form-group font-weight-bolder">
                                <label for="exampleFormControlTextarea1">River Name: </label>
                                <textarea class="form-control" id="river_name" name="river_name" rows="1"></textarea>
                            </div>
                            <div class="form-group font-weight-bolder">
                                <label for="exampleFormControlTextarea1">River Status: (Open or Closed)</label>
                                <textarea class="form-control" id="status" name="status" rows="1"></textarea>
                            </div>
                            <div class="form-group font-weight-bolder">
                                <label for="exampleFormControlTextarea1">Fish species: </label>
                                <textarea class="form-control" id="fish" name="fish" rows="2"></textarea>
                            </div>
                            <div class="form-group font-weight-bolder">
                                <label for="exampleFormControlTextarea1">Free or permit required: </label>
                                <textarea class="form-control" id="free_or_permit" name="free_or_permit" rows="1"></textarea>
                            </div>
                            <div class="form-group font-weight-bolder">
                                <label for="exampleFormControlTextarea1">Allowable angling methods: </label>
                                <textarea class="form-control" id="angling_methods" name="angling_methods" rows="2"></textarea>
                            </div>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </form>
                </div>
            </div>
</div>

{% endblock %}