{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <!-- Welcome Landing text -->
    <div class="row justify-content-center">
        <div class="col-10 text-dark welcome-text">
            <h1><strong>Want to add a new river to our database ?</strong></h1>
            <p><strong>Add a new River's details here.</strong></p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-5">
            <!-- Form fields here -->
            <form action="{{url_for('insert_river')}}" method="POST" class="margintop25 form_font">
                <div class="form-group font-weight-bolder">
                    <label for="river_name">River Name: </label>
                    <textarea class="form-control" id="river_name" name="river_name" rows="1" required></textarea>
                </div>
                <div class="form-group font-weight-bolder">
                    <label for="status">River Status</label>
                    <select class="form-control" id="status" name="status">
                        <option value="" disabled selected>Select Status</option>
                        <option>OPEN</option>
                        <option>CLOSED</option>
                    </select>
                </div>
                <div class="form-group font-weight-bolder">
                    <label for="fish">Fish species: </label>
                    <textarea class="form-control" id="fish" name="fish" rows="2" required></textarea>
                </div>
                <div class="form-group font-weight-bolder">
                    <label for="free_or_permit">Free to Fish or Permit Required</label>
                    <select class="form-control" id="free_or_permit" name="free_or_permit">
                        <option value="" disabled selected>Select Option</option>
                        <option>Free Fishing</option>
                        <option>Permit Required</option>
                        <option>not applicable</option>
                    </select>
                </div>
                <div class="form-group font-weight-bolder">
                    <label for="angling_methods">Allowable angling methods: </label>
                    <textarea class="form-control" id="angling_methods" name="angling_methods" rows="2"
                        required></textarea>
                </div>
                <!-- Send button -->
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}