{% extends 'base.html' %}
{% block content %}


<div class="container-fluid">
    <!–– Welcome Landing text -->
        <div class="row justify-content-center">
            <div class="col-10 text-dark welcome-text">
                <h1><strong>Something incorrect in our database ?</strong></h1>
                <p><strong>Edit a River's details here.</strong></p>
            </div>
        </div>
        <!–– Edit existing River Form -->
            <form action="" method="POST" class="margintop25 form_font">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-5">
                        <select id="river_name" name="river_name" class="form-control">
                            <option selected>Select River for Edit</option>
                            <option value="" disabled selected>Choose River</option>
                            {% for river in rivers %}
                            <option value="{{river.river_name}}">{{river.river_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-md-5 margintop25">
                        <div class="form-group font-weight-bolder">
                            <label for="exampleFormControlTextarea1">River Status: (Open or Closed): </label>
                            <textarea class="form-control" id="status" name="status" rows="1"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-md-5 margintop25">
                        <div class="form-group font-weight-bolder">
                            <label for="exampleFormControlTextarea1">Fish species: </label>
                            <textarea class="form-control" id="fish" name="fish" rows="2"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-md-5 margintop25">
                        <div class="form-group font-weight-bolder">
                            <label for="exampleFormControlTextarea1">Free or permit required: </label>
                            <textarea class="form-control" id="free_or_permit" name="free_or_permit"
                                rows="1"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-md-5 margintop25">
                        <div class="form-group font-weight-bolder">
                            <label for="exampleFormControlTextarea1">Allowable angling methods: </label>
                            <textarea class="form-control" id="angling_methods" name="angling_methods"
                                rows="2"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-md-5 margintop25 marginbottom25">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </form>
</div>

{% endblock %}