{% extends 'base.html' %}
{% block content %}


<div class="container-fluid">
    <!–– Welcome Landing text -->
        <div class="row justify-content-center">
            <div class="col-10 text-dark welcome-text">
                <h1><strong>Welcome to the Angling Rivers of County Kerry, Ireland</strong></h1>
                <p><strong>Begin planning your next fishing trip here.<br> Search for Rivers below:</strong></p>
            </div>
        </div>

        <div class="row justify-content-center">
            
            <div class="col-3">
                    {% for river in rivers %}
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col">River Name:</th>
                            <th scope="col">River Status:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">{{river.river_name}}</th>
                            <td>{{river.status}}</td>
                        </tr>
                    </tbody>
                </table>
                <button type="submit" class="btn btn-success marginbottom25">Find out more</button>
                {% endfor %}
            </div>
            
        </div>

</div>
{% endblock %}