{% extends 'base.html' %}
{% block content %}


<div class="container-fluid">
    <!–– Welcome Landing text -->
        <div class="row justify-content-center">
            <div class="col-10 text-dark welcome-text">
                <h1><strong>Welcome to the Angling Rivers of County Kerry, Ireland</strong></h1>
                <p><strong>Begin planning your next fishing trip here.<br> Search for Rivers below:</strong></p>
            </div>
        </div>

        <div class="row justify-content-center">
            {% for river in rivers %}
            <div class="col-12">
                <p>Database:</p>
                <P>RIVER NAME: {{river.river_name}}</P>
                <P>RIVER STATUS: {{river.status}}</P>
                <P>Fish Species in River: {{river.fish}}</P>
                <P>Free or Permit required: {{river.free_or_permit}}</P>
                <P>Angling Methods: {{river.angling_methods}}</P>
            </div>
            {% endfor %}
        </div>
</div>
{% endblock %}