{% extends 'base.html' %}
{% block content %}


<div class="container-fluid">
    <!–– Welcome Landing text -->
        <div class="row justify-content-center">
            <div class="col-10 text-dark welcome-text">
                <p><strong>Want to provide feedback <br> on a river ?<br>Leave your review here.</strong></p>
            </div>
        </div>
        <div class="row justify-content-center">
            <!–– Review Form -->
                <div class="col-12 col-md-5">
                    <form action="{{url_for('insert_review')}}" method="POST" class="margintop25 form_font">
                        <div class="form-group font-weight-bolder">
                            <label for="exampleFormControlTextarea1">River Name: </label>
                            <textarea class="form-control" id="river_name" name="river_name" rows="1"
                                required></textarea>
                        </div>
                        <div class="form-group font-weight-bolder">
                            <label for="exampleFormControlTextarea1">Date of Review: </label>
                            <textarea class="form-control" id="date_of_review" name="date_of_review" rows="1"
                                required></textarea>
                        </div>
                        <div class="form-group font-weight-bolder">
                            <label for="exampleFormControlTextarea1">User Review: </label>
                            <textarea class="form-control" id="review" name="review" rows="5"
                                required></textarea>
                        </div>
                        <!–– Send button -->
                            <button type="submit" class="btn btn-success">Submit</button>
                    </form>
                </div>
                <!–– Upvote Option here -->
                    <div class="col-8 welcome-text">
                        <h3><strong>Would you recommend this river for fishing?</strong></h3>
                        <p>Submit vote here:</p>
                        <button type="button" class="btn btn-primary"><i class="far fa-thumbs-up"></i></button>
                    </div>
        </div>
</div>





{% endblock %}