{% extends 'base.html' %}
{% block content %}


<div class="container-fluid">
    <!–– Welcome Landing text -->
        <div class="row justify-content-center">
            <div class="col-10 text-dark welcome-text">
                <p><strong>Want to provide feedback <br> on a river ?<br>Leave your review here.</strong></p>
            </div>
        </div>
        <div class="row justify-content-center">
            <!–– Dropdown for River to select for edit -->
                <div class="col-12 col-md-5">
                    <form class="margintop25 form_font">
                        <select id="river_name" name="river_name" class="form-control" required>
                            <option value="" disabled selected>Select River</option>
                            {% for river in rivers %}
                            <option value="{{river.river_name}}">{{river.river_name}}</option>
                            {% endfor %}
                        </select>
                        <div class=" margintop25 form-group font-weight-bolder">
                            <label for="exampleFormControlTextarea1"><i class="far fa-comment-dots"></i> Leave your
                                review here: </label>
                            <textarea class="form-control" name="reviews" id="reviews" rows="8"
                                placeholder="Say something nice, will ya?"></textarea>
                        </div>
                        <button type="submit" class="btn btn-success">Submit my Review</button>
                    </form>
                </div>
                <!–– Upvote Option here -->
                    <div class="col-8 welcome-text">
                        <h3><strong>Would you recommend this river for fishing?</strong></h3>
                        <p>Submit vote here:</p>
                        <button type="button" class="btn btn-primary"><i class="far fa-thumbs-up"></i></button>
                    </div>
        </div>
</div>





{% endblock %}