{% extends 'base.html' %}
{% block content %}


<div class="container-fluid">
    <!–– Welcome Landing text -->
        <div class="row justify-content-center">
            <div class="col-10 text-dark welcome-text">
                <p><strong>Read Reviews from other users here.</strong></p>
            </div>
        </div>
        <!–– River Reviews -->

            <div class="row justify-content-center">
                <div class="col-6">
                    {% for river in rivers %}
                    {{river.reviews}}
                    {% endfor %}
                </div>
                <div class="col-6">
                    Test
                </div>

            </div>
</div>





{% endblock %}