{% extends 'base.html' %}
{% block content %}


<div class="container-fluid">
    <!–– Welcome Landing text -->
        <div class="row justify-content-center">
            <div class="col-10 text-dark welcome-text">
                <h1><strong>Welcome to the Angling Rivers of County Kerry, Ireland</strong></h1>
                <p><strong>Begin planning your next fishing trip here.</strong></p>
            </div>
        </div>
        <!–– River database dropdown search -->
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="margintop25">
                        <button class="btn btn-success dropdown-toggle button-text" type="button"
                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Select a River
                        </button>
                        <div class="dropdown-menu button-text" aria-labelledby="dropdownMenuButton">
                            {% for river in rivers %}
                            <a class="dropdown-item" href="#">{{river.river_name}}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!–– River database results -->
                <div class="row justify-content-center margintop25">
                <div class="col-12" >
                    <p>RESULTS HERE</p>
                </div>
</div>






{% endblock %}