{% extends 'base.html' %}
{% block content %}
{% for river in rivers %}
{{river.river_name}}
{{river.status}}
{{river.fish}}
{{river.free_or_permit}}
{{river.angling_methods}}
{% endfor %}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-md-5">
            <div class="dropdown">
                <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select a River
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% block content %}
                    <a class="dropdown-item" href="#">{{river.river_name}}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>





{% endblock %}