{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <!–– Welcome Landing text -->
        <div class="row justify-content-center">
            <div class="col-10 text-dark welcome-text">
                <h1><strong>Update River's details here:</strong></h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-5">
                <!–– Form fields here -->
                    <form action="{{url_for('update_river', river_id=river._id) }}" method="POST"
                        class="margintop25 form_font">
                        <div class="form-group font-weight-bolder">
                            <label for="exampleFormControlTextarea1">River Name: </label>
                            <textarea class="form-control" id="river_name" name="river_name" rows="1"
                                required>{{river.river_name}}</textarea>
                        </div>
                        <div class="form-group font-weight-bolder">
                            <label for="exampleFormControlSelect1">River Status</label>
                            <select class="form-control" id="status" name="status">
                                <option value="{{river.status}}" selected>{{river.status}}</option>
                                {% if river.status == "OPEN" %}
                                <option>CLOSED</option>
                                {% else %}
                                <option>OPEN</option>
                                {% endif %}
                            </select>
                        </div>
                        <div class="form-group font-weight-bolder">
                            <label for="exampleFormControlTextarea1">Fish species: </label>
                            <textarea class="form-control" id="fish" name="fish" rows="2"
                                required>{{river.fish}}</textarea>
                        </div>
                        <div class="form-group font-weight-bolder">
                            <label for="exampleFormControlSelect1">Free to Fish or Permit Required</label>
                            <select class="form-control" id="free_or_permit" name="free_or_permit">
                                <option value="{{river.free_or_permit}}" selected>{{river.free_or_permit}}</option>
                                {% if river.free_or_permit == "Free Fishing" %}
                                <option>Permit Required</option>
                                <option>not applicable</option>
                                {% elif river.free_or_permit == "Permit Required"  %}
                                <option>Free Fishing</option>
                                <option>not applicable</option>
                                {% elif river.free_or_permit == "not applicable"  %}
                                <option>Permit Required</option>
                                <option>Free Fishing</option>
                                {% endif %}
                            </select>
                        </div>
                        <div class="form-group font-weight-bolder">
                            <label for="exampleFormControlTextarea1">Allowable angling methods: </label>
                            <textarea class="form-control" id="angling_methods" name="angling_methods" rows="2"
                                required>{{river.angling_methods}}</textarea>
                        </div>
                        <!–– Send button -->
                            <button type="submit" class="btn btn-success">Submit</button>
                    </form>
                    <p class="margintop25"><strong>Or delete this record here:</strong></p>
                    <a href="{{url_for('delete_river', river_id=river._id) }}" class="btn btn-danger">Delete Record</a>
            </div>
        </div>
</div>

{% endblock %}